/**
 * This file contains only minor alterations from the original .css file included in the 'react-popper-tooltip' library.
 *
 * See: https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/styles.css
 */


.tooltip-container {
  --tooltipBackground: theme(colors.white.DEFAULT);
  --tooltipBorder: theme(colors.stone.DEFAULT);
  background-color: var(--tooltipBackground);
  border: 1px solid var(--tooltipBorder);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  
  z-index: 9999;
}

.tooltipIn {
  -webkit-animation: tooltipIn .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: tooltipIn .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.tooltipOut {
  -webkit-animation: tooltipOut .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: tooltipOut .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.tooltipContentIn { 
  animation: contentIn .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.tooltipContentOut {
  animation: contentOut .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes tooltipIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
 }

 @keyframes tooltipIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes tooltipOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes tooltipOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes contentIn {
  0% {transform: translateY(100%); opacity: 0;}
  100% {transform:translateY(0%); opacity: 1;}
}

@keyframes contentOut {
  100% {transform: translateY(-100%); opacity: 1;}
  0% {transform:translateY(0%); opacity: 0;}
}

.dark .tooltip-container {
  --tooltipBackground: theme('colors.dark.2');
  --tooltipBorder: theme(colors.charcoal.DEFAULT);
}

.tooltip-container[data-popper-interactive='false'] {
  pointer-events: none;
}

.tooltip-arrow {
  height: 1rem;
  position: absolute;
  width: 1rem;
  pointer-events: none;
}

.tooltip-arrow::before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  margin: auto;
  width: 0;
}

.tooltip-arrow::after {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  margin: auto;
  position: absolute;
  width: 0;
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow {
  left: 0;
  margin-top: -0.3rem;
  top: 0;
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow::before {
  border-color: transparent transparent var(--tooltipBorder) transparent;
  border-width: 0 0.5rem 0.4rem 0.5rem;
  position: absolute;
  top: -1px;
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow::after {
  border-color: transparent transparent var(--tooltipBackground) transparent;
  border-width: 0 0.5rem 0.4rem 0.5rem;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow {
  bottom: 0;
  left: 0;
  margin-bottom: -0.95rem;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow::before {
  border-color: var(--tooltipBorder) transparent transparent transparent;
  border-width: 0.4rem 0.5rem 0 0.5rem;
  position: absolute;
  top: 1px;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow::after {
  border-color: var(--tooltipBackground) transparent transparent transparent;
  border-width: 0.4rem 0.5rem 0 0.5rem;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow {
  left: 0;
  margin-left: -0.7rem;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow::before {
  border-color: transparent var(--tooltipBorder) transparent transparent;
  border-width: 0.5rem 0.4rem 0.5rem 0;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow::after {
  border-color: transparent var(--tooltipBackground) transparent transparent;
  border-width: 0.5rem 0.4rem 0.5rem 0;
  left: 7px;
  top: 0;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow {
  margin-right: -0.7rem;
  right: 0;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow::before {
  border-color: transparent transparent transparent var(--tooltipBorder);
  border-width: 0.5rem 0 0.5rem 0.4em;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow::after {
  border-color: transparent transparent transparent var(--tooltipBackground);
  border-width: 0.5rem 0 0.5rem 0.4em;
  left: 3px;
  top: 0;
}